# Rutas de datos
DATA_RAW_PATH=data/raw
DATA_PROCESSED_PATH=data/processed

# Archivos fuente
EXCEL_DISTRITOS=total_distritos_creaciones_2025_vf.xlsx
EXCEL_INGRESOS=ingresos_muni_fuente_3_categ.xlsx
CAPA_DISTRITOS=distritos_inei_2017.gpkg
CAPA_CCPP=ccpp_inei_2017.gpkg

# Parametros analiticos
ANIO_BASE=2007
ANIO_CENSO_FINAL=2017
ANIO_PROYECCION=2024
TCM_REFERENCIA_NACIONAL=0.012
CRS_TRABAJO=4326
CRS_PROYECTADO=32718

# Parametros IDW
IDW_POWER=2
IDW_RESOLUCION_M=5000

# Parametros LISA
LISA_PERMUTACIONES=999
LISA_ALPHA=0.05
LISA_TIPO_MATRIZ=queen
LISA_KNN=5
